<launch>
    <arg name="file_name" default="j2s7s300_demo"/>
    <include file="$(find j2s7s300_moveit_config)/launch/$(arg file_name).launch"/>

    <arg name="start_server" default="start_server.py"/>
    <arg name="control_server" default="pick_place_server2.py"/>

    <node name="arm_start_server" pkg="kinova_control" type="$(arg start_server)" respawn="true" output="screen">
    </node>
    <node name="arm_action_server" pkg="kinova_control" type="$(arg control_server)" respawn="true" output="screen">
    </node>
    <node name="start_client" pkg="kinova_control" type="pick_place_client.py" respawn="false" output="screen">
    </node>
    <node name="root_br" pkg="tf" type="static_transform_publisher" args="0.50 -0.28 0.405 0 0 1.57 base_link world 100" />
</launch>